Takeout*/
problematic_files/*
*.log
.DS_Store
__pycache__/*
degoogle_photos/__pycache__/*
tests/__pycache__/*
*.egg-info/*
.claude/*
.vscode/*
settings.local.json
dist/*
*.zip
"DeGoogle-Edge Photos"
"Deduped-Edge Photos"
